.admin-page__Wrapper {
    height: calc(100vh - 90px);
}

.admin-page {
    width: 80%;
    margin: 10px auto;
}

.admin-operations {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    padding: 10px 0;
    margin: 20px 0;
}

.clubs-wrapper {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.clubs-wrapper h2 {
    font-weight: 400;
    margin: 10px 0;
}

.clubs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.logout-btn {
    outline: none;
    border: none;
    cursor: pointer;
    margin: 0 10px;
    padding: 0 5px;
    background: none;
    border-bottom: dashed 1px blueviolet;
    color: blueviolet;
}

.logout-btn:hover {
    color: black;
    border-color: black;
}

@media screen and (max-width: 600px) {
    .clubs {
        display: flex;
        flex-direction: column;
    }
}